*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(9, 23, 49);
}
.hed{
background: rgba(34, 2, 34, 0.808);
position: fixed;
z-index: 5;
}
.tipo1{
   background: rgb(9, 23, 49);
}

.cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info{
    position: absolute;
    background: rgba(6, 2, 10, 0.747);
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 2;
}
.name{
    color: white;
    font-size: 19px;
}
.cod{
    color: white;
    font-size: 19px;
    font-style: bold;
    vertical-align: center;
}

.tet{
    margin: 0 5px;
}


.no-padding{
    padding-left:0;
    padding-right:0;
}

.no-margin{
margin-left: 0;
margin-right: 0;
}

.sub-img div:not(.info){
    border: 5px solid rebeccapurple;
}

.sub-img div:hover:not(.info){
    border: 5px solid black;
}