*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(9, 23, 49);
}
.hed{
background: rgba(34, 2, 34, 0.808);
position: fixed;
z-index: 5;
}
.tipo1{
   background: rgb(9, 23, 49);
}

.cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info{
    position: absolute;
    background: rgba(6, 2, 10, 0.747);
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 2;
}
.name{
    color: white;
    font-size: 19px;
}
.cod{
    color: white;
    font-size: 19px;
    font-style: bold;
    vertical-align: center;
}

.tet{
    margin: 0 5px;
}


.no-padding{
    padding-left:0;
    padding-right:0;
}

.no-margin{
margin-left: 0;
margin-right: 0;
}

/* .sub-img div:not(.info){
    border: 5px solid rebeccapurple;
}

.sub-img div:hover:not(.info){
    border: 5px solid black;
} */

/* MEDIO */
.free{
text-align: center;
margin: 0 auto;
color: #ffa;
text-shadow: 0 0 30px #fff;
}


.tod{
  max-height:300px;
}

.paginacion{
    margin-top: 20px;
}
.btn{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 7px 15px;
    border-radius: 10px;
    margin-bottom: 0 auto;
    text-align: center;
}
.paginacion .btn.derecha{
   
    float: right;
}

.paginacion .btn.izquierda{
    float: left;
    /* color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 7px 15px;
    border-radius: 10px;
    margin-bottom: 0 auto;
    text-align: center; */
}

.end{
    float: none;
    clear: both;
    background: rgba(10, 10, 10, 0.795);
    color: white;
    text-align: center;
    padding: 15px 0;
}


@media screen and (max-width:600px){
    .free{
        font-size: 15px;
    }
    .btn{
        border: 1px solid white;
         padding: 4px 10px;
         font-size: 15px
    }
}